:root {
  --myFont: 'Poppins', sans-serif;
  --ltGray: #dddddd;
  --dkGray: #a9a9a9;
  --dkRed: #8b0000;
  --ltYellow: #fff8a0;
  --dkYellow: #dfc700;
  --ltGreen: #c5ffce;
  --dkGreen: #00560d;
  --blue: #019ae6;
}

.jumbotron {
  background-color: var(--dkGreen);
  background-image: url("./jack-o-lantern-nebula.jpg");
  color: var(--ltYellow);
  font-family: var(--myFont);
  font-weight: 800;
  /* Image of jack-o-lantern nebula from http://www.spitzer.caltech.edu/images/6697-ssc2019-17a-The-Jack-o-Lantern-Nebula */
}

body {
  background-color: var(--ltGreen);
}

.card {
  min-width: 30%;
  font-family: var(--myFont);
  font-weight: 400;
  margin: 0.5em;
  border: 1px solid var(--dkGray);
  box-shadow: 3px 3px 5px;
}

.card-header {
  text-align: right;
  background-color: var(--ltGray);
}

.card-body {
  font-size: 0.8em;
}

.fa-mug-hot {
  color: var(--dkYellow);
}

.fa-glasses {
  color: var(--dkRed);
}

.fa-user-graduate {
  color: var(--blue);
}