.jumbotron {
  background-color: #00560d;
  background-image: url("./jack-o-lantern-nebula.jpg");
  color: #fff8a0;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  /* Image of jack-o-lantern nebula from http://www.spitzer.caltech.edu/images/6697-ssc2019-17a-The-Jack-o-Lantern-Nebula */
}

body {
  background-color: #c5ffce;
}

.card {
  min-width: 30%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0.5em;
  border: 1px solid darkgray;
  box-shadow: 3px 3px 5px;
}

.card-header {
  text-align: right;
  background-color: #dddddd;
}

.card-body {
  font-size: 0.8em;
}

.fa-mug-hot {
  color: #dfc700;
}

.fa-glasses {
  color: #019ae6;
}

.fa-user-graduate {
  color: darkred;
}